$grey       : #F4F8F9;
$darkGrey   : #ECEFF1;
$blackGrey  : #A5A5A5;
$black      : #333333;
$lightBlack : #555555;
$white      : #FFFFFF;
$blue       : #249EDB;

$fSizeDefault : 16px;
$fSizeSmall   : 14px;
