$veryBig   : 50px;
$middleBig : 43px;
$middleBig2: 30px;
$biggest   : 25px;
$biggest2  : 24px;
$big       : 20px;
$default   : 16px;
$default2  : 15px;
$middle    : 14px;
$small     : 12px;
$verySmall : 10px;