$grey       : #F4F8F9;
$darkGrey   : #ECEFF1;
$blackGrey  : #A5A5A5;
$black      : #333333;
$lightBlack : #555555;
$white      : #FFFFFF;
$blue       : #249EDB;
$greyBorder : #9AABB3;
$greyBorder2: #DFDFDF;
$orange     : #ff7d2e;
$green      : #2cc557;
$pseudoBlack: #5d5d5d;