
<div class="login-page">
  <div class="blue" id="blue-block"></div>
  <div class="login-content" id="login-content">
    <div class="logo" id="logo">
      <img src="/assets/images/logo.png" alt="logo" />
    </div>
    <div class="login-form">
      <div class="login-form-title">Welcome back!</div>
      <div class="login-form-error"></div>
      <form name="login_form" #userForm="ngForm" >
        <div class="group">
          <label>Your Email</label>
          <input class="form-control" type="email" name="email" id="email" required [(ngModel)]="user.email" #email="ngModel" [ngClass]="{'has-error' : email.touched && !email.valid}" />
        </div>
        <div class="group">
          <label>Your Password</label>
          <input class="form-control" type="password" name="password" [(ngModel)]="user.password" id="password" required #password="ngModel" [ngClass]="{'has-error' : password.touched && !password.valid}"
            />
        </div>
        <div class="group">
          <a class="btn btn-primary" (click)="login()">Log In<i class="fa fa-sign-in right" aria-hidden="true"></i></a>
        </div>
        <div class="forgot-password" ng-controller="ModalController as modal">
          <a href="#" ng-click="modal.open('', 'app/parts/forgot-password-form.html')">Forgot Password</a>
        </div>
      </form>
    </div>
    <div class="static-page-links" id="static-page-links">
      <ul class="flex-right">
        <li><a href="/docs">Docs</a></li>
        <li>|</li>
        <li><a href="/faq">FAQs</a></li>
        <li>|</li>
        <li><a href="/about">About us</a></li>
      </ul>
    </div>
  </div>
</div>