<div class="create-task-form" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="create-task-title">Create Task</div>
    </div>
    <div class="modal-body">
      <div class="create-task-content flex flex-content-around flex-align-items-start">
        <div>
          <label>Select Images Asset</label>
          <select class="form-control">
            <option ng-repeat="image in create.images">Image Name</option>
          </select>
        </div>
        <div>
          <label>Select Meta</label>
          <select class="form-control">
            <option value="Invoice">Invoice</option>
            <option value="Invoice">Invoice</option>
            <option value="Invoice">Invoice</option>
          </select>
        </div>
      </div>
      <div class="check">
        <div>
          <md-checkbox>Start this Task now</md-checkbox>
        </div>
        <div>
          <button class="btn btn-primary">Create Task</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
