.create-task-form {
  .create-task-title {
    font-size: $biggest2;
    text-align: center;
    color: $black;
  }

  .create-task-content {
    margin-top: $veryBig;
  }

  div.check {
    margin-top: 28px;
    text-align: center;

    label {
      font-size: $small;
    }

    span.glyphicon-ok {
      width: auto;
      left: 0;
      font-size: $small;
      color: $white;
    }
    button.btn-default {
      &:hover {
        background: $white;
        border-color: $greyBorder;
      }

      &:active, &:focus, &:visited {
        background: $white;
        outline: none;
        border-color: $greyBorder;
      }
    }
    button.checked {
      background: $blue;

      &:hover {
        background: $blue;
      }

      &:active, &:focus, &:visited {
        background: $blue;
        outline: none;
        border-color: none;
      }
    }
    button.btn-primary {
      background: $blue;
      border: none;
      margin-top: $middleBig2;

      i {
        color: $white;
      }
    }
  }
}