/* Scroll-Bar */
::-webkit-scrollbar {
  width: 5px;
  background: rgba(36,159,219,0.1);
}
::-webkit-scrollbar-track {
  background: rgba(36,159,219,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(36,159,219,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(36,159,219,0.5);
}
